body{
    font-family: roboto, sans-serif;
}

.navbar{
    background-color: #9D00FF ;
}

#cabecalho .nav .nav-link.active{
    background-color: #fff;
    color: #9D00FF;
}

#cabecalho .nav .nav-link ,
.navbar-brand,
.navbar-brand:hover{
    color:#fff
}

.navbar-brand {
    font-family: pacifico, cursive;
}
.navbar-toggler{
    background-color: #E6CCFF;
}

.section-title{
    font-family: pacifico, cursive;
}

.section-title span{
    color: #9D00FF;
}

#sobre-o-restaurante, #nosso-cardapio{
    background-color: #E6CCFF;
}

.section-title i {
    color: #9D00FF;
}

.text-colored{
    color: #9D00FF;
}

.nav-cardapio .nav-link.active{
    background-color: #9D00FF;
    color: #fff;
}

.nav-cardapio .nav-link:not(.active):hover {
    color: #9D00FF;
    background-color: #E6CCFF;
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

#contato .btn {
    background-color: #9D00FF;
    color: #fff;
}

#contato .btn:hover {
    transform: scale(0.96);
    box-shadow: inset 0 2px 6px rgba(0,0,0,0.25);
}

section {
    scroll-margin-top: 80px;
}